<!-- The Modal -->
<div class="modal" id="addClientModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header bg-warning pt-2 pb-2">
        <h6 class="modal-title w-100">{{cardHeader}}</h6>
        <button type="button" class="btn-close" (click)="onModalClose()" data-bs-dismiss="modal"></button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div class="row d-flex justify-content-center">
          <div class="col-md-11 pl-1 pr-1">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal end -->
