.single-widgets-two {
  padding: 30px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
  background-color: #4fcb8d;
  margin-bottom: 24px;
}
.p-0 {
  padding: 0!important;
}
.align-items-center {
  align-items: center!important;
}
.single-widgets {
  padding: 30px;
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
  margin-bottom: 24px;
}
.single-widgets i {
  font-size: 50px;
  color: #4fcb8d;
  margin-bottom: 10px;
}
.single-widgets span {
  margin-bottom: 10px;
}
.single-widgets h4 {
  font-size: 30px;
  font-weight: 500;
}
.single-widgets-two.bg-5c31d6 {
  background-color: #5c31d6;
}
.single-widgets-two i {
  font-size: 50px;
  color: #4fcb8d;
}
.single-widgets-two.bg-fe5957 {
  background-color: #fe5957;
}
.single-widgets-two h4 {
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
}
.single-widgets-two i {
  font-size: 50px;
  color: #4fcb8d;
}
.single-widgets-two.bg-fec107 {
  background-color: #fec107;
}
.single-widgets-two h4 {
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
}
