<div class="container-fluid mt-4">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-success text-white">
          <div class="row align-item-center">
            <div class="col-lg-6 mt-2">
              <h6> {{heading}}</h6>
            </div>
            <div class="col-lg-6 text-end">
              <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#addClientModal"
                (click)="Add()">Add</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <table class=" table table-dark table-hover">
            <thead>
              <tr>
                <th>Sr No</th>
                <th *ngFor="let head of headArray">{{head.head}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of gridArray;let i=index;">
                <td>{{i+1}}</td>
                <td *ngFor="let head of headArray">
                  <div *ngIf="head.fieldName!=''">
                    {{item[head.fieldName]}}
                  </div>
                  <div *ngIf="head.fieldName==''">
                    <button class="btn btn-primary me-2" (click)="edit(item)">Edit</button>
                    <button class="btn btn-danger" (click)="delete(item)">delete</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
